@media screen and (min-width: 1500px) {
    .habilidades .logos {
        width: 800px;
        height: 100vh;
        margin-top: 0px;
        align-items: center;
    }

    .habilidades article {
        margin-left: 80px;
    }

    .habilidades #article_sombra {
        right: 30px;
    }

    .habilidades #html_sombra {
        left: 400px;
    }

    .habilidades #sql_sombra {
        left: 100px;
        top: 205vh;
    }

    .habilidades #css_sombra {
        left: 400px;
        top: 245vh;
    }

    .habilidades #scrum_sombra {
        left: 100px;
    }

}


@media screen and (min-width: 1371px) and (max-width: 1499px) {
    .habilidades p {
        margin-top: 220px;
        font-size: 17px;
    }
    
    
    .habilidades .logos {
        width: 800px;
        height: 100vh;
        margin-top: 0px;
        align-items: center;
    }

    .habilidades article {
        margin-left: 0px;
    }

    .habilidades img {
        width: 270px;
    }

    .habilidades #article_sombra {
        right: 30px;
    }

    .habilidades #html_sombra {
        left: 400px;
    }

    .habilidades #sql_sombra {
        left: 100px;
        top: 205vh;
    }

    .habilidades #css_sombra {
        left: 400px;
        top: 245vh;
    }

    .habilidades #scrum_sombra {
        left: 100px;
    }
    
}

/* ---------------------- 1370 PIXELS OU MENOS ------------------------ */

@media screen and (max-width: 1370px) {
    section {
        height: 100vh;
    }

    .perfil main {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        margin-top: 65px
    }

    .perfil img {
        width: 225px;
        height: 225px;
    }

    .perfil .seta {
        margin-top:118px;

    }

/* --------- Sobre Mim ----*/

    .sobre_mim img {
        margin-top: 69px;
        margin-left: 104px;
    }

    .sobre_mim article {
        margin-top: 139px;
        margin-left: 104px;
        width: 70%;
    }

    .sobre_mim h2 {
        font-size:40px;
    }

    .sobre_mim p { 
        font-size: 20px;
        line-height: 30px;
    }

/* --------- Habilidades -----*/



    .habilidades .logos {
        width:fit-content;
        margin-top: 0px;
        margin-left: 120px;
        height: 100vh;
        justify-content:center;
        align-items:center;
    }

    .habilidades img {
        width: 45%;
    }

    .habilidades h1 {
        font-size: 38px;
        margin-top: 201px;
        margin-left: 40px;
        font-weight: bold;
    }

    .habilidades p {
        width: 92%;
        font-size: 20px;
        margin-left: auto;
        margin-right: 0px;
        margin-top: 240px;
        font-weight: 400;
    }

    .habilidades article {
        margin-left: 60px;
        margin-right: 100px;
        width: 50%;
    }

    .habilidades #sql_sombra {
        top: 205vh;
        width: 25%;
        height: 50%;
    }

    .habilidades #html_sombra {
        top: 205vh;
        width: 25%;
        height: 50%;
    }

    .habilidades #css_sombra {
        left: 330px;
        top: 245vh;
    }

    .habilidades #article_sombra {
        top: 215vh;
        width: 600px;
        height: 489px;
    }

/* ------ Projetos ---------- */

    .projetos h2 {
        margin-top:62px;
        font-size: 55px;
    }

    .projetos nav {
        width: 1128px;
        margin-top: 80px;
    }

    .projetos a {
        width: 300px;
        height: 300px;
    }

/* --------- Curriculo ------ */

    .curriculo main nav {
        margin-top: 200px;
    }

    .curriculo main p {
        margin-top: 56px;
    }

    .curriculo footer nav {
        margin-top: 55px;
    }
}

/*------------- 1024 PIXELS OU MENOS -------------- */

@media screen and (max-width: 1048px) {

/* Perfil */

    .perfil main {
        margin-top: 40px;
    }

    .perfil h2 {
        margin-top: 25px;
    }

    .perfil h1 {
        margin-top: 35px;
    }

    .perfil .seta {
        margin-top: 80px;
    }

    /* Sobre mim */

    .sobre_mim main {
        width:auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .sobre_mim figure {
        margin-left: 50px;
        width: 400px;
    }

    .sobre_mim img {
        margin: auto;
        width: 400px;

    }

    .sobre_mim article {
        margin: auto;
        margin-left: 70px;
    }

    .sobre_mim h2 {
        font-size: 30px;
    }

    .sobre_mim p {
        font-size: 16px;
    }

/* Habilidades */


    .habilidades {
        margin: auto;
        font-size: 1px;
    }

    .habilidades .logos {
        width:auto;
        margin-top: 0px;
        margin-left: 80px;
        height: 100vh;
        justify-content:center;
        align-items:center;
    }

    .habilidades figure {
        width: 500px;
        justify-content: space-around;
    }

    .habilidades img {
        width: 200px;
        justify-content: space-between;
    }
    .habilidades p {
        width: 100%;
        margin-top: 200px;
        margin-left: auto;
        margin-right: 0px;
        font-size: 16px;
        line-height: 30px;
    }
    .habilidades h1 {
        margin-left: 0px;
        font-size: 30px;
    }

    .habilidades article {
        margin-left: 40px;
        margin-right: 70px;
    }

    .habilidades #sql_sombra {
        width: 200px;
        height: 200px;
        top: 220vh;;
    }

    .habilidades #html_sombra {
        width: 250px;
        height: 250px;
        top: 215vh;
        left: 280px;
    }

    .habilidades #css_sombra {
        width: 250px;
        height: 250px;
        top: 247vh;
        left: 260px;
    }

    .habilidades #scrum_sombra {
        top: 247vh;
    }

    .habilidades #article_sombra {
        width: 40%;
        height: 45vh;
        top: 220vh;
        right: 50px;
    }

/* ------- Projetos ------- */

    .projetos nav {
        width: 90%;
    }

    .projetos a {
        width: 250px;
        height: 250px;
    }

    .projetos .huddle {
        background-size: auto;
    }


/*--------- Curriculo ------- */

    .curriculo main nav {
        margin-top: 120px;
    }
}

/* ------------------------- 900 PIXELS OU MENOS ---------------------*/

@media screen and (max-width: 900px) {

/* Sobre mim */

    .sobre_mim img {
        width: 280px;
    }

    .sobre_mim h2 {
        font-size: 35px;
        text-align: center;
    }

    .sobre_mim p {
        min-width: 200px;
    }

/* Habilidades */

    .habilidades img {
        width: 45%;
    }

    .habilidades figure {
        width: 320px;
    }

    .habilidades h1 {
        text-align: left;
        min-width: 150px;
    }

    .habilidades article {
        margin-left: 100px;
    }

    .habilidades p {
        font-size: 16px;
    }

    .habilidades #sql_sombra {
        left: 40px;
    }

    .habilidades #html_sombra {
        left: 190px;
        top: 219vh;
    }

    .habilidades #css_sombra {
        left: 180px;
    }

    .habilidades #scrum_sombra {
        left: 30px;
    }

    .habilidades #article_sombra {
        top: 230vh;
        width: 45%;
    }

/* Projetos */

    .projetos nav a {
        width: 180px;
        height: 180px;
    }

    .projetos nav .huddle{
        background-size: contain;
    } 

/* Curriculo */
   
    .curriculo main nav {
        width: 500px;
        height: 80px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }

    .curriculo main nav a {
        font-size: 38px;
        height: auto;
        margin: 0;
    }

    .curriculo main p {
        margin-top: 35px;
    }

    .curriculo footer nav {
        width: 450px;
    }
    .curriculo footer a {
        width: 80px;
        height: 80px;
    }
}

/* -------------------------------- 490 PIXELS OU MENOS --------------  */

@media screen and (max-width: 490px) {

/*  Perfil  */
    .perfil main, footer {
        width: auto;
    }

    .perfil main img {
        width: 300px;
        height: 300px;
    }

    .perfil .seta {
        margin-top: 200px
    }

    /* Sobre mim */

    .sobre_mim main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sobre_mim figure {
        margin: 0;
        margin-top: 50px
    }

    .sobre_mim img {
        width: 270px;
        margin: 0;
    }

    .sobre_mim main p {
        text-align: justify;
    }

    /* Habilidades */
    .habilidades main {
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
    }
    .habilidades .logos {
        flex-direction: column;
        height: fit-content;
        margin-top: 50px;
        margin-left:auto;
        margin-right: auto;
    }

    .habilidades article {
        margin: auto;
        width: 80%;
    }

    .habilidades h1, p {
        margin: 0;
    }
    .habilidades h1 {
        margin-top: 100px;
        white-space: nowrap;
        text-align: center;
    }

    .habilidades p {
        text-align: justify;
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;
    }

    .habilidades #sql_sombra {
        top: 203vh;
        left: 30px;
    }
    .habilidades #html_sombra {
        top: 203vh;
        left: 160px;
    }
    .habilidades #css_sombra {
        top: 220vh;
        left: 160px;
    }
    .habilidades #scrum_sombra {
        top: 220vh;
        left: 30px;
    }

    .habilidades #article_sombra{
        top: 250vh;
        left: 30px;
        width: 90%;
    }

/* Projetos */

    .projetos h2 {
        font-size: 36px;
        font-weight: bold;
    }

    .projetos nav {
        flex-direction: column;
        height: 70vh;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        margin-top: 40px;
    }

    .projetos nav a {
        margin: 0;
        width: 70%;
        height: 30%;
        border-radius: 40% 0%
    }

/* Curricuo */

    .curriculo main nav {
        width: 90%;
        font-size: 15px;
        margin-top: 250px;
    }

    .curriculo main nav a {
        font-size: 25px;
    }

    .curriculo footer nav {
        width: 70%;
        height: 270px;
        flex-wrap: wrap;
        justify-content: center;
        line-height: 10px;
    }

    .curriculo footer nav a {
        width: 100px;
        height: 100px;
        margin: 0
    }

    .curriculo .github,.curriculo .instagram {
        margin-left: 20px;
    }

    
}